<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="PushDataPeriod" value="30000"/>
    <add key="DBConnectionString" value="Data Source=DCESM-PC;Initial Catalog=ProductDB;Integrated Security=True;" />
    <add key="AMQuri" value="activemq:tcp://localhost:61616" />
    <add key="AMQPublisherQueue" value="queue://service2client" />
    <add key="AMQListenerQueue" value="queue://client2service" />
  </appSettings>
</configuration>